# Dependency directories
node_modules/

# Docusaurus build output
build/
.docusaurus/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Operating System files
.DS_Store

# IDE-specific files
.vscode/

# Package manager lock files (if you prefer to ignore them for some reason, though often they are committed)
# pnpm-lock.yaml
# yarn.lock

# Go-related files
*.mod
*.sum
*.exe
*.test
*.prof
/bin/
/pkg/

*.scip
